/* index.php */
a {
    text-decoration: none;
}
body {
    background-color: #808080;
}
.innerWrap {
    width: 1240px;
    margin: 0 auto;
    background-color: #f5f5dc;
    height: 100vh;
    padding: 20px 40px;
    position: relative;
}
.topPage h1 {
    color: #333;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}
hr {
    margin-bottom: 40px;
}
.formBtn {
    font-size: 30px;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    color: #fff;
    background-color: #add8e6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 16);
}
.topPage table {
    border: #333 solid 1px;
    width: 800px;
    margin: 0 auto;
}
.topPage th {
    padding: 6px 10px;
    font-size: 18px;
    background-color: #add8e6;
    color: #fff;
}
.topPage td {
    padding: 6px 10px;
    background-color: #fff;
}
.topPage .title {
    font-weight: 600;
}
.topPage .delete {
    color: red;
}
table tr {
    border: #333 solid 1px;
}
/* blogform */
.blogForm h2 {
    color: #333;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}
.blogForm input[type="text"],
select,textarea {
    border: 1px solid #333;
    background-color: #fff;
    width: 100%;
    margin-top: 5px;
    padding: 4px 8px;
}
input[type="radio"] {
    vertical-align: baseline;
    margin-right: 4px;
}
.send input {
    font-size: 30px;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    color: #fff;
    background-color: #add8e6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 16);
}
.backHome a{
    font-size: 30px;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    color: #fff;
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 16);
}
.blogTitle,.blogText,.blogCategory {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.blogCategory select {
    font-size: 18px;
    font-weight: 400;
    background: #fff url(img/arrow.png) no-repeat 98% 50%/17px 10px;
}

/* blogDetail */
.blogDetail h2 {
    color: #333;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}
.flex {
    display: flex;
    justify-content: space-between;
}

.blogDetail h3 {
    font-size: 20px;
    font-weight: 600;
}
.blogDetail hr {
    margin-bottom: 20px;
}
.blogDetail .time {
    color: #808080;
}
.blogDetail .category {
    color: #808080;
}
